* {
    font-family: pliant; 
    text-align: center;
    background-color: #d6efff;
}

.login {
    margin-right: auto;
    margin-left: auto;
    margin-top:10%;
    text-align: center;
    width: 64%;
    /*background-color: #AFA2FF; */
    background-color: #988CE4;
    padding-top: 1.5%;
    padding-bottom: 5.5%;
    padding-left: auto;
    padding-right: auto;
    border-radius: 9px;
    box-shadow: 0px 15px 35px rgba(0,0,0,0.35);
    border: 2px solid #bdbdbd;
}
h3{
    font-size: 250%;
}
h3, p, input, button, form, a{
    background: transparent;
}
input, select {
    width: 37%;
    padding: 9px;
    border: 1px solid #0b0b0b;
    border-radius: 4px;
    background-color: #eef8ff;
}
button {
    width: 16%;
    padding: 9px;
    border: none;
    border-radius: 8px;
    background: #4B55DA;
    color: white;
    cursor: pointer;
}