* {
    background-color: #acdde7;
    font-family:'Poppins', sans-serif;


}

.dashboard {
    width: 1060px;
    height: 131px;
    font-size: 80px;
    background-color: #a379c9c2;
    font-weight: bolder;
    font-family: monospace;
    border-radius: 11px;
    text-align: center;
    padding-top: 25px;
    /* padding: 0px; */
    margin: auto;
    margin-top: 133px;
    /* border: #ff0000; */
}
h2 {
    text-align: center;
}

.role-container {
    text-align: center;
    max-width: 1065px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}


.student-container, .teacher-container {
    width: 200px;
    background-color: aliceblue;
    border-radius: 20px;
    border: 2px solid black;
}

.role, img, .name {
    background-color: white;
}

.name {
    text-align: center;
    padding-top: 9px;
    color: #B744B8;
    background-color: aliceblue;
    border-radius: 20px;
}
a {
    text-decoration: none;
}

.student-container img, .teacher-container img {
    padding-top: 11px;
    width: 174px;
    height: 178px;
    object-fit: cover;
    border-radius: 20px;
}

h4 {
    color: #636363;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
